<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Warang+Citi&display=swap" rel="stylesheet">
</head>


<table>
    <tr>
        <td>
            <h1> <b> Samantha Varguez Aguilar </b> </h1>
            <p> Ingeniera de Software</p>
        </td>
        <td>
            <img src="https://firebasestorage.googleapis.com/v0/b/mycv-bba9f.appspot.com/o/sampic.png?alt=media&token=4c7f1504-e336-4dba-bd2c-fae230c792f5" height="150" width="150"> 
        </td>

        <td>
            <ul>
                <li>varguezsamy&#64;gmail.com</li>
                <li>2721234567</li>
                <li>Orizaba Veracruz</li>
                <li>&#64;Samantha-Varguez</li>
            </ul>
        </td>

    </tr>
</table>