<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Warang+Citi&display=swap" rel="stylesheet">
</head>

<table>

    <h3>Intereses</h3>
    
        <ul *ngFor="let interestsExperience of interestsExperience">
            <li>
                <tr> 
                    {{ interestsExperience.nombre }}
             </tr> 
    
            </li>
        </ul>
    
    </table>