<!DOCTYPE html>
<head>
      <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Warang+Citi&display=swap" rel="stylesheet">
</head>
<body>
<table>
      <tr>
            <td colspan="2">
                  <app-header></app-header>
            </td>
      </tr>
      <tr>
            <td> 
                 <app-work-experience> </app-work-experience>
                 <tr> <app-languages></app-languages> </tr>
                 <tr> <app-interests></app-interests> </tr>
            </td>
            <td>
                  <app-education> </app-education>
                  <tr> <app-skills> </app-skills> </tr>
                  <tr> <app-achievements> </app-achievements> </tr>
                  
            </td>
      </tr>
</table>   
</body> 

