<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Warang+Citi&display=swap" rel="stylesheet">
</head>

<table>

    <h3>Educacion</h3>
    
        <ul *ngFor="let achievementExperience of achievementExperience">
            <li>
                <tr> <b>
                    {{ achievementExperience.nombre }}
                </b> </tr> 
                <tr>
                    <td> {{ achievementExperience.fecha }} </td> <td> </td>
                </tr>
    
            </li>
        </ul>
    
    </table>